<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="style.responsive.css" media="all">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Quattrocento+Sans&amp;subset=latin">


    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script src="script.responsive.js"></script>


<style>.content .postcontent-0 .layout-item-0 { margin-bottom: 10px;  }
.content .postcontent-0 .layout-item-1 { padding-right: 10px;padding-left: 10px;  }
.content .postcontent-0 .layout-item-2 { border-right-style:solid;border-right-width:1px;border-right-color:#CFD8E2; padding-right: 10px;padding-left: 10px;  }
.ie7 .post .layout-cell {border:none !important; padding:0 !important; }
.ie6 .post .layout-cell {border:none !important; padding:0 !important; }

</style></head>
<body>
<div id="main">
<nav class="nav clearfix">
    <div class="nav-inner">
    <ul class="hmenu"><li><a href="home.html" class="active">Home</a></li></ul> 
        </div>
    </nav>
<div class="sheet clearfix">
<header class="header clearfix">


    <div class="shapes">


            </div>

                
                    
</header>
<div class="layout-wrapper clearfix">
                <div class="content-layout">
                    <div class="content-layout-row">
                        <div class="layout-cell content clearfix"><article class="post article">
                                
                                                
                                <div class="postcontent postcontent-0 clearfix"><div class="content-layout-wrapper layout-item-0">
<div class="content-layout">
    <div class="content-layout-row">
    <div class="layout-cell layout-item-1" style="width: 100%" >
        <h3 style="padding-bottom: 5px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(207, 216, 226);"><span style="color: rgb(37, 155, 218);">kategorie</span></h3>
        <ul>
        <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt<span style="color: rgb(46, 61, 76);"><br></span></li>
        </ul>
    </div>
    </div>
</div>
</div>
<div class="content-layout-wrapper layout-item-0">
<div class="content-layout">
    <div class="content-layout-row">
    <div class="layout-cell layout-item-2" style="width: 33%" >
        <h3 style="border-bottom: 1px solid #CFD8E2; padding-bottom: 5px"><span style="color: #259BDA;">kategorie</span><span style="color: #259BDA;"></span></h3>
        <p><span style="font-weight: bold;">Vestibulum nec hac orci gravida placerat non rutrum nisl malesuada.</span></p>
        <p>Ullamcorper ligula vulputate porta feugiat convalli&nbsp;turpis sodales eros turpis maecenas lacus velit etiam. Ac fringilla feugiat curabitur.</p>
        <p>&nbsp;<a href="" class="button">View details »</a>&nbsp;<br></p>
        <div class="image-caption-wrapper" style="width: 100%"><br></div>
    </div><div class="layout-cell layout-item-2" style="width: 34%" >
        <h3 style="border-bottom: 1px solid #CFD8E2; padding-bottom: 5px"><span style="color: #259BDA;">kategorie</span><span style="color: #259BDA;"></span></h3>
        <p><span style="font-weight: bold;">Et in eleifend ullamcorper pede ultrices curabitur et vivamus eu.</span></p>
        <p>Nulla fusce turpis hendrerit nisi nulla ligula euismod accumsan mattis vestibulum hendrerit in arcu quisque. Vestibulum tempus tincidunt in.</p>
        <p>&nbsp;<a href="" class="button">View details »</a>&nbsp;</p>
        <div class="image-caption-wrapper" style="width: 100%;"><br></div>
    </div><div class="layout-cell layout-item-1" style="width: 33%" >
        <h3 style="border-bottom: 1px solid #CFD8E2; padding-bottom: 5px"><span style="color: #259BDA;">kategori</span><span style="color: #259BDA;">e</span><span style="color: #259BDA;"></span></h3>
        <p><span style="font-weight: bold;">In fusce curabitur arcu ultricies dignissim ac aliquam non blandit.</span></p>
        <p>Aliquet eu a mi quis pretium ligula quis dictumst id aenean id etiam nec convallis venenatis aliquet justo. Turpis nisl dui turpis non sem.</p>
        <p>&nbsp;<a href="" class="button">View details »</a>&nbsp;<br></p>
        <div class="image-caption-wrapper" style="width: 100%"><br></div>
    </div>
    </div>
</div>
</div>
</div>
</article></div>
                    </div>
                </div>
            </div>
    </div>
<footer class="footer clearfix">
  <div class="footer-inner">
<p><a href="#">Link1</a> | <a href="#">Link2</a> | <a href="#">Link3</a></p>
<p>Copyright © 2013. All Rights Reserved.</p>
  </div>
</footer>

</div>


</body></html>